h1{
    background-color: white;
    color: violet;
}

h2{
    background-color:purple;
    color: gray;
}

h3{
    background-color:aqua ;
    color:aliceblue ;
}

p{
    background-color:black;
    color: bisque;
}