.container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: rgb(200, 140, 63);
}
img{
    float: left;
    width: 200px;
    height: 50;
    margin-right: 10px;
    border: 2px dashed transparent;
}
img:hover {
 border: 2px dashed red;
}