body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
}
.aside{
    background-color: black;
    color: white;
    padding: 0px 15px;
   

}

.main{
    background-color: rgb(235, 189, 189);
}

.asideLinks{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    gap: 0.6rem;
    padding: 0 15px;
    border-radius: 3px;

}

.asideLinks:hover:not(.active, .logo){
    background-color: rgb(177, 169, 169);
}

.asideImage{
    border-radius: 50% 50%;
    width: 40px;
}

.active{
    background-color:rgb(195, 58, 81);
}